p,
a,
button,
form,
table,
li,
h1,
h2 {
  font-family: sans-serif;
}

#new-blog-btn {
  margin-top: 1%;
  margin-bottom: 2%;
}

#blog-form {
  width: 80%;
  margin: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.notification-div {
  padding: 2%;
  font-size: large;
  font-weight: bold;
}

.blog-div {
  border: solid;
  padding: 1%;
}
