#top-bar {
  background-color: rgb(195, 194, 194);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-bar {
  width: 10%;
  display: flex;
  justify-content: space-evenly;
}

#user-bar {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#notification-error {
  border: solid;
  border-color: rgb(254, 70, 70);
  color: red;
  background-color: rgb(195, 194, 194);
}

#notification-success {
  border: solid;
  border-color: darkgreen;
  color: green;
  background-color: rgb(195, 194, 194);
}

.notification-div {
  padding: 2%;
  font-size: large;
  font-weight: bold;
}

.blog-div {
  border: solid;
  padding: 1%;
}

.delete-button {
  background-color: rgb(131, 131, 234);
}
